services:
      server:
            build:
                  context: ./server
            environment:
                  NODE_ENV: production
            ports:
                  - 3000:3000
            env_file: ./server/.env
      web:
            build:
                  context: ./web
            environment:
                  NODE_ENV: production
            ports:
                  - 8000:8000
