services:
  server:
    build:
      context: ./backend
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
    env_file: ./backend/.env
  web:
    build:
      context: ./web
    environment:
      NODE_ENV: production
    ports:
      - 8000:8000
