@font-face {
	font-family: OpenSans;
	src: url('./OpenSans.ttf');
}

@font-face {
	font-family: JetBrains;
	src: url('./JetBrainsMono.ttf');
}

@font-face {
	font-family: Undertale;
	src: url('./Undertale.ttf');
}

:root {
	font-family: OpenSans, sans-serif;
	font-weight: 400;
}

.jetbrains {
	font-family: JetBrains, monospace;
	font-weight: 200;
}

.undertale {
	font-family: Undertale, OpenSans, sans-serif;
	font-weight: 400;
	padding: 10px;
}
